/* Reset SCSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Sree+Krushnadevaraya");
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* MAIN WEBSITE COLORS */
/* MEDIA QUERY BREAK POINTS */
/* MAIN FONTS */
/* MAIN FONT-SIZES */
/* H1 */
/* H2 */
/* H3 */
/* P */
/* social media size */
a {
  text-decoration: none;
  color: inherit; }

h1 {
  font-family: "Work Sans Bold", sans-serif;
  font-size: 60px;
  line-height: 65px;
  font-weight: 900;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }
  @media only screen and (max-width: 700px) {
    h1 {
      font-size: 50px;
      line-height: 54.1666666667px; } }

h2 {
  font-family: "Work Sans Bold", sans-serif;
  font-size: 50pt;
  line-height: 55pt;
  font-weight: 700;
  -webkit-text-size-adjust: none; }
  @media screen and (min-width: 1259px) and (max-width: 1440px) {
    h2 {
      font-size: 45.4545454545pt;
      line-height: 50pt; } }
  @media only screen and (min-width: 701px) and (max-width: 1257px) {
    h2 {
      font-size: 35.7142857143pt;
      line-height: 39.2857142857pt; } }
  @media only screen and (min-width: 701px) and (max-width: 1257px) {
    h2 {
      font-size: 38.4615384615pt;
      line-height: 42.3076923077pt; } }

h3 {
  font-family: "Work Sans Bold", sans-serif;
  font-size: 20pt;
  line-height: 27pt;
  font-weight: 700;
  -webkit-text-size-adjust: none; }
  @media screen and (min-width: 1259px) and (max-width: 1440px) {
    h3 {
      font-size: 16.6666666667pt; } }
  @media only screen and (max-width: 700px) {
    h3 {
      font-size: 13.3333333333pt; } }

p {
  font-family: "Sree Krushnadevaraya", serif;
  font-size: 20pt;
  line-height: 27pt;
  -webkit-text-size-adjust: none; }
  @media screen and (min-width: 1259px) and (max-width: 1440px) {
    p {
      font-size: 16.6666666667pt; } }
  @media only screen and (max-width: 700px) {
    p {
      font-size: 35pt;
      line-height: 47.25pt; } }

.truth-transparency a {
  color: #ff4a00; }

.science a {
  color: #6e3078; }

.educating-youth a {
  color: #f7922a; }

.town-square a {
  color: #20b5bf; }

em {
  font-style: italic;
  text-transform: capitalize; }

nav {
  font-family: "Work Sans Bold", sans-serif;
  letter-spacing: 1px;
  font-size: 18pt;
  line-height: 55px; }
  @media screen and (min-width: 1259px) and (max-width: 1440px) {
    nav {
      font-size: 13pt; } }
  @media only screen and (min-width: 701px) and (max-width: 1257px) {
    nav {
      font-size: 1.4vw; } }

.hero-card .card-item p {
  font-family: "Work Sans Bold", sans-serif;
  font-size: 20pt;
  line-height: 32pt; }

.anchor_links .wrapper .links .link h3, .wgbh_overview .wrapper .links .overview-link, .wgbh_overview .wrapper .links .overview-link h3 {
  font-family: "Work Sans Bold", sans-serif;
  font-size: 25pt;
  line-height: 40pt; }
  @media screen and (min-width: 1259px) and (max-width: 1440px) {
    .anchor_links .wrapper .links .link h3, .wgbh_overview .wrapper .links .overview-link, .wgbh_overview .wrapper .links .overview-link h3 {
      font-size: 20pt; } }
  @media only screen and (min-width: 701px) and (max-width: 1257px) {
    .anchor_links .wrapper .links .link h3, .wgbh_overview .wrapper .links .overview-link, .wgbh_overview .wrapper .links .overview-link h3 {
      font-size: 25pt; } }

.footer, .footer .wrapper .footer-item, .hero-card, .headline .article .section-article-item .first_quote, .headline .article .section-article-item .second_quote, .headline .article .section-article-item .last_quote {
  display: flex;
  align-items: center;
  justify-content: center; }

.hero-curtain, .hero-card {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%); }

.footer .wrapper, .presmsg .sub-section .wrapper, .anchor_links .wrapper, .logo_farm .wrapper {
  min-width: 100px;
  width: 80%;
  margin: 0 auto; }
  @media only screen and (min-width: 701px) and (max-width: 1257px) {
    .footer .wrapper, .presmsg .sub-section .wrapper, .anchor_links .wrapper, .logo_farm .wrapper {
      width: 90%; } }

.footer {
  min-height: 200px;
  background-color: whitesmoke; }
  .footer .wrapper {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; }
    @media only screen and (max-width: 700px) {
      .footer .wrapper {
        display: block; } }
    .footer .wrapper .footer-item {
      text-align: left;
      border-right: 2px inset rgba(180, 178, 178, 0.6); }
      @media only screen and (max-width: 700px) {
        .footer .wrapper .footer-item {
          margin: 10px auto;
          border-right: none; } }
      .footer .wrapper .footer-item .info {
        text-align: center; }
        .footer .wrapper .footer-item .info .logos {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 2fr;
          grid-column-gap: 20px; }
          @media only screen and (max-width: 700px) {
            .footer .wrapper .footer-item .info .logos {
              display: block; } }
          .footer .wrapper .footer-item .info .logos img {
            height: 100px;
            width: 100px;
            display: inline-block; }
            @media only screen and (max-width: 700px) {
              .footer .wrapper .footer-item .info .logos img {
                margin: auto 5px; } }
      .footer .wrapper .footer-item .credit {
        text-align: left; }
        @media only screen and (max-width: 700px) {
          .footer .wrapper .footer-item .credit {
            text-align: center; } }
      .footer .wrapper .footer-item .visit {
        display: inline-block; }
        .footer .wrapper .footer-item .visit * {
          display: block;
          justify-self: center; }
        .footer .wrapper .footer-item .visit img {
          width: 250px;
          margin-top: 28px; }
      .footer .wrapper .footer-item .social {
        display: inline-block; }
        .footer .wrapper .footer-item .social .social-media {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-column-gap: 10px;
          margin-top: 30px;
          width: 100%; }
          @media only screen and (max-width: 700px) {
            .footer .wrapper .footer-item .social .social-media {
              display: block;
              width: 100%; } }
          .footer .wrapper .footer-item .social .social-media .fa {
            border-radius: 5px;
            padding: calc(20px / 1.5);
            font-size: 20px;
            width: 20px;
            text-align: center;
            justify-self: center;
            background-color: #222222; }
            @media only screen and (max-width: 700px) {
              .footer .wrapper .footer-item .social .social-media .fa {
                margin: auto 10px;
                border-radius: 100%; } }
            .footer .wrapper .footer-item .social .social-media .fa:hover {
              opacity: 0.7; }
            .footer .wrapper .footer-item .social .social-media .fa-facebook {
              color: white; }
            .footer .wrapper .footer-item .social .social-media .fa-twitter {
              color: white; }
            .footer .wrapper .footer-item .social .social-media .fa-instagram {
              color: white; }
    .footer .wrapper .socials {
      border-right: none; }

.nav-wrapper {
  z-index: 3;
  width: 100%;
  min-height: 10px;
  position: fixed; }

nav {
  box-shadow: 1px 1px 10px #0a090942;
  height: 70px;
  background-color: #222;
  transition: background-color 0.7s;
  color: white;
  display: flex; }
  @media only screen and (max-width: 700px) {
    nav {
      height: 100px;
      display: block; } }
  @media only screen and (max-width: 700px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    nav {
      height: 70px; } }
  @media only screen and (max-width: 700px) and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    nav {
      height: 70px; } }

  nav .mobile_nav {
    min-width: 10px;
    margin: auto 0;
    margin-left: 30px; }
    @media only screen and (max-width: 700px) {
      nav .mobile_nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: inherit; } }
  nav .nav-title {
    line-height: 55px;
    width: 100%;
    text-align: center; }
    nav .nav-title a {
      text-decoration: none; }
    @media only screen and (max-width: 700px) {
      nav .nav-title {
        margin: auto 0;
        width: initial;
        font-size: 18px !important; } }
  nav .mobile_button {
    display: none;
    cursor: pointer; }
    nav .mobile_button * {
      transition: all 0.6s;
      top: 0; }
    @media only screen and (max-width: 700px) {
      nav .mobile_button {
        display: block;
        margin: auto 0;
        margin-left: 70%;
        text-align: center;
        justify-self: center; }
        nav .mobile_button .bar {
          width: 45px;
          height: 4px;
          background-color: white;
          margin: 6px auto; }
        nav .mobile_button .bar2 {
          transition: all 0.1s; } }
  nav .nav-items-container {
    position: relative;
    top: 0;
    margin: auto;
    margin-right: 10px;
    text-align: left;
    float: right; }
    @media only screen and (max-width: 700px) {
      nav .nav-items-container {
        z-index: -1;
        display: block;
        position: relative;
        width: 100%;
        right: 0;
        top: -834px;
        text-align: center;
        background-color: inherit;
        margin: auto;
        transition: all 0.6s;
        opacity: 0.97; } }
    nav .nav-items-container ul {
      width: 100%;
      text-align: center;
      display: inline-block; }
      @media only screen and (max-width: 700px) {
        nav .nav-items-container ul {
          display: block;
          font-size: 20px;
          line-height: 90px; } }
      nav .nav-items-container ul li {
        display: inline-block;
        cursor: pointer;
        margin: auto 30px; }
        @media only screen and (max-width: 700px) {
          nav .nav-items-container ul li {
            display: block; } }

/*CSS ANIMATIONS*/
.slideInDown {
  top: 0 !important; }

.mobile_button_clicked .bar_container * {
  position: relative;
  top: -5px; }
.mobile_button_clicked .bar_container .bar2 {
  top: 0px;
  width: 0px; }
.mobile_button_clicked .bar_container .bar3 {
  top: 5px; }

/* Scss Code starts here */
main {
  display: block; }

section {
  width: 100%;
  min-height: 1000px;
  text-align: center; }

body {
  background-color: white; }

/* Hero */
@-webkit-keyframes slide {
  from {
    background-position: 0 0; }
  to {
    background-position: 0px -167vw; } }
.hero {
  width: 100%;
  height: 100vh; }
  .hero-curtain {
    width: inherit;
    height: 100%;
    z-index: 2;
    box-shadow: 0px 10px 100px rgba(60, 60, 60, 0.6);
    box-sizing: border-box;
    -webkit-animation: slide 10s linear infinite;
    animation: slide 30s linear infinite;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../images/WGBH_AnnualReportCOVER.jpg);
    background-color: gray; }
    @media only screen and (max-width: 700px) {
      .hero-curtain {
        -webkit-animation: initial;
        animation: initial;
        background-image: url(../../images/mobile/DigiAR-2019_Mobile-Cover_v2_1200w.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100vw; } }
  @media only screen and (max-width: 700px) and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .hero-curtain {
      -webkit-animation: slide 10s linear infinite;
      animation: slide 30s linear infinite;
      background-image: url(../../images/WGBH_AnnualReportCOVER.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: inherit; } }
  @media only screen and (max-width: 700px) and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .hero-curtain {
      -webkit-animation: slide 10s linear infinite;
      animation: slide 30s linear infinite;
      background-image: url(../../images/WGBH_AnnualReportCOVER.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: inherit; } }

    .hero-curtain video {
      height: 115vh;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media only screen and (max-width: 700px) {
        .hero-curtain video {
          display: none; } }
  .hero-window {
    background-image: url(../../images/DigiAR-2019_Intro-Bground_v1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: inherit;
    height: 100%;
    position: fixed;
    top: 0; }
  .hero-card {
    flex-direction: column;
    width: 500px;
    min-height: 250px;
    padding: 70px;
    color: lighblue;
    background-color: white; }
    @media only screen and (min-width: 701px) and (max-width: 1257px) {
      .hero-card {
        min-width: 20%; } }
    @media only screen and (max-width: 700px) {
      .hero-card {
        width: 60%; } }
    .hero-card .card-item {
      margin: 10px auto;
      min-width: 400px; }
      .hero-card .card-item h1 {
        letter-spacing: 10px;
        text-align: center;
        width: 100%; }
      .hero-card .card-item p {
        font-weight: 900;
        text-align: center;
        width: 100%; }
    .hero-card .quote {
      /* Person Quoted */ }
      .hero-card .quote span {
        float: right; }

/* Presidents Message */
@media only screen and (max-width: 700px) {
  .presmsg {
    margin-top: 100px; } }
.presmsg .sub-section {
  margin: 0 0 100px; }
  .presmsg .sub-section .wrapper {
    margin-top: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px; }
    @media only screen and (min-width: 701px) and (max-width: 1257px) {
      .presmsg .sub-section .wrapper {
        grid-column-gap: 20px; } }
    @media only screen and (max-width: 700px) {
      .presmsg .sub-section .wrapper {
        display: block;
        width: 100%; } }
.presmsg-left {
  width: 100%;
  text-align: right; }
  @media only screen and (max-width: 700px) {
    .presmsg-left {
      text-align: center; } }
  .presmsg-left h2 {
    margin-right: 100px;
    display: inline-block;
    text-align: left;
    width: 90%;
    padding: 10px;
    margin-bottom: 80px; }
    @media only screen and (max-width: 700px) {
      .presmsg-left h2 {
        width: 90%;
        padding: 0;
        margin: auto;
        margin-bottom: 100px;
        text-align: center; } }
    .presmsg-left h2 hr {
      opacity: 1;
      position: absolute;
      left: 0;
      width: 50vw;
      height: 25px;
      background-color: #4765aa;
      margin-top: 10px;
      z-index: -1;
      background-image: url(../../textures/DigiAR_2019_blue-texture-copy.svg);
      background-repeat: no-repeat;
      background-size: cover; }
      @media only screen and (max-width: 700px) {
        .presmsg-left h2 hr {
          width: 70%;
          right: 0; } }
  .presmsg-left p {
    display: inline-block;
    text-align: left;
    width: 100%; }
    @media only screen and (max-width: 700px) {
      .presmsg-left p {
        width: 80%;
        margin-bottom: 80px; } }
.presmsg-right {
  min-height: 100px;
  text-align: center; }
  .presmsg-right .photo {
    display: inline-block;
    height: 1000px;
    width: 100%;
    background-color: #6b9ae0;
    margin-bottom: 20px;
    background-image: url(../../images/DigiAR-2019_dsktp-letter-img_v2.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (min-width: 701px) and (max-width: 1257px) {
      .presmsg-right .photo {
        height: 800px;
        width: 90%;
        background-position: center center; } }
    @media only screen and (max-width: 700px) {
      .presmsg-right .photo {
        background-image: url(../../images/mobile/DigiAR-2019_mobile-letter-img_v3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%; } }
    .presmsg-right .photo img {
      display: block; }
  .presmsg-right p {
    display: inline-block;
    width: 100%;
    text-align: left; }
    @media only screen and (min-width: 701px) and (max-width: 1257px) {
      .presmsg-right p {
        width: 90%; } }
    @media only screen and (max-width: 700px) {
      .presmsg-right p {
        width: 80%; } }
  .presmsg-right .signitures {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: 50px; }
    @media only screen and (min-width: 701px) and (max-width: 837px) {
      .presmsg-right .signitures {
        display: inline-block;
        text-align: left;
        width: 80%; } }
    @media only screen and (max-width: 700px) {
      .presmsg-right .signitures {
        display: inline-block;
        text-align: left;
        width: 80%; } }
    .presmsg-right .signitures .signiture {
      text-align: justify;
      display: inline-block; }
      @media only screen and (max-width: 700px) {
        .presmsg-right .signitures .signiture {
          display: inline-block;
          width: 90%; } }
      .presmsg-right .signitures .signiture * {
        text-align: left;
        font-size: 16pt; }
        @media only screen and (max-width: 700px) {
          .presmsg-right .signitures .signiture * {
            font-size: 35px; } }
      .presmsg-right .signitures .signiture p {
        color: #236092;
        font-family: "Work Sans Bold", sans-serif; }
    .presmsg-right .signitures-left img {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      height: 100px; }
      @media only screen and (max-width: 700px) {
        .presmsg-right .signitures-left img {
          height: 200px; } }
    .presmsg-right .signitures-right img {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      height: 100px;
      width: 300px; }
      @media only screen and (min-width: 701px) and (max-width: 1257px) {
        .presmsg-right .signitures-right img {
          width: 200px; } }
      @media only screen and (max-width: 700px) {
        .presmsg-right .signitures-right img {
          height: 200px;
          width: 400px; } }

/* anchor Links*/
.anchor_links {
  margin-top: 100px;
  width: 100%;
  min-height: 700px !important; }
  .anchor_links .wrapper {
    margin-top: 200px; }
    @media only screen and (max-width: 700px) {
      .anchor_links .wrapper {
        width: 100%; } }
    .anchor_links .wrapper .links {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 30px;
      padding: 100px 0 100px 0;
      border-top: 10px solid #3557a2;
      border-bottom: 10px solid #3557a2; }
      @media only screen and (min-width: 701px) and (max-width: 1257px) {
        .anchor_links .wrapper .links {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: 1fr;
          grid-column-gap: 10px;
          grid-row-gap: 10px;
          justify-content: center;
          align-items: center; } }
      @media only screen and (max-width: 700px) {
        .anchor_links .wrapper .links {
          display: block;
          border: 0px; } }
      .anchor_links .wrapper .links #jour {
        background-image: url(../../textures/DigiAR_2019_redOrange-texture.svg); }
      .anchor_links .wrapper .links #edu {
        background-image: url(../../textures/DigiAR_2019_purple-texture.svg); }
      .anchor_links .wrapper .links #sci {
        background-image: url(../../textures/DigiAR_2019_orange-texture.svg); }
      .anchor_links .wrapper .links #hist {
        background-image: url(../../textures/DigiAR_2019_teal-texture.svg); }
      .anchor_links .wrapper .links .link {
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        vertical-align: middle;
        line-height: 220px;
        padding: 20px;
        border-radius: 40px; }
        .anchor_links .wrapper .links .link h3 {
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
          color: white; }
          @media only screen and (max-width: 700px) {
            .anchor_links .wrapper .links .link h3 {
              font-size: calc(20pt * 2);
              font-weight: 500;
              width: 70%; } }
        @media only screen and (min-width: 701px) and (max-width: 1257px) {
          .anchor_links .wrapper .links .link {
            height: 220px; } }
        @media only screen and (max-width: 700px) {
          .anchor_links .wrapper .links .link {
            border-radius: 0px; } }

.headline {
  margin-top: 300px; }
  .headline .wrapper {
    margin: 0 auto; }
  .headline .article {
    width: 100%;
    text-align: center; }
    .headline .article-slides {
      display: none; }
      @media only screen and (max-width: 700px) {
        .headline .article-slides {
          display: block; } }
      .headline .article-slides .slide img {
        width: 100%; }
    .headline .article-collage {
      max-width: 100%; }
      @media only screen and (max-width: 700px) {
        .headline .article-collage {
          display: none; } }
      .headline .article-collage .collage {
        width: 100%; }
        .headline .article-collage .collage img {
          width: 100%; }
    .headline .article .section {
      margin-top: 100px;
      width: 60%;
      display: inline-block;
      text-align: center; }
      @media only screen and (min-width: 701px) and (max-width: 1257px) {
        .headline .article .section {
          width: initial;
          min-width: 60%; } }
      @media only screen and (max-width: 700px) {
        .headline .article .section {
          width: 100%; } }
      .headline .article .section-header {
        display: inline-block;
        width: 60%; }
        @media screen and (min-width: 1259px) and (max-width: 1440px) {
          .headline .article .section-header {
            width: 90%; } }
        @media only screen and (min-width: 701px) and (max-width: 1257px) {
          .headline .article .section-header {
            width: 80%; } }
        @media only screen and (max-width: 700px) {
          .headline .article .section-header {
            width: 70%; } }
      .headline .article .section hr {
        opacity: 1;
        width: 70%;
        height: 25px;
        background-color: #4765aa;
        margin-top: 25px;
        z-index: -1;
        margin-bottom: 100px; }
        @media only screen and (max-width: 700px) {
          .headline .article .section hr {
            width: 80%; } }
      .headline .article .section-article {
        display: inline-block;
        width: 730px; }
        @media only screen and (min-width: 701px) and (max-width: 1257px) {
          .headline .article .section-article {
            width: 80%; } }
        @media only screen and (max-width: 700px) {
          .headline .article .section-article {
            width: 80%; } }
        .headline .article .section-article-item {
          text-align: justify; }
          @media only screen and (max-width: 700px) {
            .headline .article .section-article-item {
              text-align: left; } }
          .headline .article .section-article-item .indent_right {
            margin-left: 130px; }
            @media only screen and (min-width: 701px) and (max-width: 1257px) {
              .headline .article .section-article-item .indent_right {
                margin-left: 0; } }
            @media only screen and (max-width: 700px) {
              .headline .article .section-article-item .indent_right {
                margin-left: 0; } }
          .headline .article .section-article-item .indent_left {
            margin-right: 140px; }
            @media only screen and (min-width: 701px) and (max-width: 1257px) {
              .headline .article .section-article-item .indent_left {
                margin-right: 0;
                margin-top: 0px; } }
            @media only screen and (max-width: 700px) {
              .headline .article .section-article-item .indent_left {
                margin-right: 0;
                margin-top: 0; } }
          .headline .article .section-article-item .quote_container {
            width: 60%;
            text-align: center; }
          .headline .article .section-article-item .first_quote {
            position: relative;
            top: 50px;
            left: 0px;
            margin-bottom: -450px;
            margin-left: -350px; }
            @media screen and (min-width: 1259px) and (max-width: 1440px) {
              .headline .article .section-article-item .first_quote {
                margin-bottom: -380px;
                top: 20px;
                left: 50px; } }
            @media only screen and (min-width: 701px) and (max-width: 1257px) {
              .headline .article .section-article-item .first_quote {
                position: initial;
                margin-bottom: 100px;
                margin-left: 0;
                margin-top: 60px;
                width: 100%; } }
            @media only screen and (max-width: 700px) {
              .headline .article .section-article-item .first_quote {
                position: initial;
                margin-bottom: 0px;
                margin-left: 0;
                margin-top: 10px;
                width: 100%; } }
            @media only screen and (max-width: 700px) {
              .headline .article .section-article-item .first_quote .quote1 {
                height: 100%; } }
            .headline .article .section-article-item .first_quote .quote1 img {
              min-height: 100px;
              width: 100%; }
          .headline .article .section-article-item .second_quote {
            display: none; }
            @media only screen and (min-width: 701px) and (max-width: 1257px) {
              .headline .article .section-article-item .second_quote {
                display: block;
                margin-top: 40px;
                width: 100%; } }
            @media only screen and (max-width: 700px) {
              .headline .article .section-article-item .second_quote {
                display: block;
                position: initial;
                margin-bottom: -150px;
                margin-left: 0;
                margin-top: 40px;
                width: 100%; } }
            @media only screen and (max-width: 700px) {
              .headline .article .section-article-item .second_quote .quote1 {
                height: calc(100vw * 1.2); } }
            .headline .article .section-article-item .second_quote .quote1 img {
              min-height: 100px;
              width: 100%; }
          .headline .article .section-article-item .last_quote {
            display: block;
            margin-top: -400px;
            margin-left: 630px; }
            @media screen and (min-width: 1259px) and (max-width: 1440px) {
              .headline .article .section-article-item .last_quote {
                margin-top: -300px;
                margin-left: 570px; } }
            @media only screen and (min-width: 701px) and (max-width: 1257px) {
              .headline .article .section-article-item .last_quote {
                display: none;
                top: 0;
                transform: rotateZ(180deg); } }
            @media only screen and (max-width: 700px) {
              .headline .article .section-article-item .last_quote {
                display: none; } }
            .headline .article .section-article-item .last_quote img {
              min-height: 100px;
              width: 100%; }
          .headline .article .section-article-item .blockquote {
            height: 440px;
            width: 440px;
            transition: all 0.4s;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            display: inline-block; }
            @media screen and (min-width: 1259px) and (max-width: 1440px) {
              .headline .article .section-article-item .blockquote {
                height: 370px;
                width: 370px; } }
            @media only screen and (max-width: 700px) {
              .headline .article .section-article-item .blockquote {
                margin: auto;
                width: 80vw; } }

.truth-transparency hr {
  background-image: url(../../textures/DigiAR_2019_redOrange-texture.svg);
  background-repeat: no-repeat;
  background-size: cover; }
@media screen and (min-width: 1259px) and (max-width: 1440px) {
  .truth-transparency .first_quote {
    top: 100px !important; } }
@media screen and (min-width: 1259px) and (max-width: 1440px) {
  .truth-transparency .last_quote {
    margin-top: -250px !important; } }
@media screen and (min-width: 1441px) and (max-width: 1680px) {
  .truth-transparency .last_quote {
    margin-top: -300px !important; } }

.science hr {
  background-image: url(../../textures/DigiAR_2019_purple-texture.svg);
  background-repeat: no-repeat;
  background-size: cover; }
@media screen and (min-width: 1259px) and (max-width: 1440px) {
  .science .first_quote {
    top: 20px !important; } }
@media screen and (min-width: 1259px) and (max-width: 1440px) {
  .science .last_quote {
    margin-top: -400px !important; } }
@media screen and (min-width: 1441px) and (max-width: 1680px) {
  .science .last_quote {
    margin-top: -450px !important; } }

.educating-youth hr {
  background-image: url(../../textures/DigiAR_2019_orange-texture.svg);
  background-repeat: no-repeat;
  background-size: cover; }
@media screen and (min-width: 1259px) and (max-width: 1440px) {
  .educating-youth .first_quote {
    top: 50px !important; } }
@media screen and (min-width: 1259px) and (max-width: 1440px) {
  .educating-youth .last_quote {
    margin-top: -300px !important; } }
@media screen and (min-width: 1441px) and (max-width: 1680px) {
  .educating-youth .last_quote {
    margin-top: -350px !important; } }

.town-square hr {
  background-image: url(../../textures/DigiAR_2019_teal-texture.svg);
  background-repeat: no-repeat;
  background-size: cover; }
@media screen and (min-width: 1259px) and (max-width: 1440px) {
  .town-square .first_quote {
    top: 50px !important; } }
@media screen and (min-width: 1441px) and (max-width: 1680px) {
  .town-square .first_quote {
    top: 120px !important; } }
@media screen and (min-width: 1259px) and (max-width: 1440px) {
  .town-square .last_quote {
    margin-top: -300px !important; } }
@media screen and (min-width: 1441px) and (max-width: 1680px) {
  .town-square .last_quote {
    margin-top: -400px !important; } }

/* ------------------------------- */
/*        SLICK DOTS               */
/* ------------------------------- */
.slick-dots {
  position: relative;
  top: -50px;
  /* more CSS */ }
  .slick-dots li {
    display: inline-block;
    text-align: center; }
    .slick-dots li button {
      padding: 0;
      border: none;
      background: none;
      width: 12px;
      height: 12px;
      text-indent: -9999px;
      margin: auto 20px;
      border-radius: 100%;
      background-color: white; }

/* ------------------------------- */
/*        Archor Links 2           */
/* ------------------------------- */
.wgbh_overview {
  background-image: url(../../textures/DigiAR_2019_blue-texture_financials.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px; }
  .wgbh_overview .title {
    position: relative;
    top: 150px;
    text-align: center;
    color: white; }
    @media only screen and (max-width: 700px) {
      .wgbh_overview .title {
        display: inline-block;
        color: white;
        width: 50%; } }
  .wgbh_overview .wrapper {
    text-align: center;
    justify-items: center;
    display: grid;
    border-top: 10px solid white; }
    @media only screen and (max-width: 700px) {
      .wgbh_overview .wrapper {
        width: 80%;
        border-top: 30px solid white; } }
    .wgbh_overview .wrapper .links {
      width: 80%;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 30px;
      padding: 100px 0 100px 0;
      mix-blend-mode: screen;
      border: none; }
      @media only screen and (min-width: 701px) and (max-width: 1257px) {
        .wgbh_overview .wrapper .links {
          width: 100%;
          border-top: 0px solid transparent; } }
      @media only screen and (max-width: 700px) {
        .wgbh_overview .wrapper .links {
          display: block;
          width: 90%; } }
      .wgbh_overview .wrapper .links .overview-link {
        min-width: 10px;
        text-align: center;
        vertical-align: middle;
        line-height: 220px;
        padding: 20px;
        background-color: white;
        border-radius: 40px; }
        .wgbh_overview .wrapper .links .overview-link h3 {
          display: inline-block;
          vertical-align: middle;
          line-height: normal; }
          @media only screen and (min-width: 701px) and (max-width: 1257px) {
            .wgbh_overview .wrapper .links .overview-link h3 {
              font-size: 23px; } }
          @media only screen and (max-width: 700px) {
            .wgbh_overview .wrapper .links .overview-link h3 {
              font-size: calc(20pt * 2); } }
        @media only screen and (max-width: 700px) {
          .wgbh_overview .wrapper .links .overview-link {
            margin: 40px auto;
            height: 50vw;
            width: 50vw;
            line-height: 50vw;
            border-radius: 20%; } }

/* -------------------------------
/* Logo Farm
/* ------------------------------- */
.logo_farm {
  background-image: url(../../textures/DigiAR_2019_-logo-farm-background_mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }
  .logo_farm .wrapper {
    margin: 100px auto; }
    .logo_farm .wrapper .logos {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-auto-columns: auto;
      grid-column-gap: 20px;
      grid-row-gap: 20px; }
      @media only screen and (max-width: 700px) {
        .logo_farm .wrapper .logos {
          grid-template-columns: 1fr 1fr 1fr; } }
      .logo_farm .wrapper .logos .brand {
        display: block;
        height: auto;
        width: calc(16.6% -10px);
        margin: 5px;
        float: left;
        border-radius: 30%;
        background-color: rgba(255, 255, 255, 0.2);
        transition: all 0.7s;
        border: 0px solid white;
        top: 0px; }
        .logo_farm .wrapper .logos .brand:hover {
          background-color: rgba(255, 255, 255, 0);
          opacity: 0.8; }
        @media only screen and (max-width: 700px) {
          .logo_farm .wrapper .logos .brand {
            width: 80%;
            justify-self: center; } }

/*h1 {
    font-size: 70px;
    position: relative;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;

    div {
        content: "lorem";
        width: 80%;
        height: 600px;
        @include test-borders(black);
        background-color: white;
    }

    p {
        @include test-borders(black);
        padding: 50px;
        line-height: 50px;
        text-align: center;
    }
}*/

/*# sourceMappingURL=main.css.map */
